<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1" class="mt-5">
<head>
    <meta charset="UTF-8">
    <title>FORMULAIRE-SERVICE</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
</head>
<body style="font-family: 'Times New Roman'; margin-top: auto" class="mt-5">
<div layout:fragment="content1" class="mt-5">
    <div class="card container col-md-8 offset-2 mt-5">
        <form method="post" th:action="@{/services/save}">
        <div class="card-header">
            <h3 class='text-center'>
                <i class="fas fa-sign-in-alt mr-2">
                </i>Formulaire Service
            </h3>
        </div>
        <div class="card-body">
            <div class="row card">
                <!-- SERVICE -->
                <div class="card-header">
                    <small class='text-cente'>
                        Service
                    </small>
                </div>
                <div class="row col-sm-12 mt-4 ms-1 ml-1">
                    <div class="form-group col-sm-4">
                        <label class="">Nom Service <span
                                class="text-danger">*</span></label>
                        <input id="nomService" class="form-control" type="text" name="nomService" th:value="${service.nomService}">
                        <span class="text-danger" th:errors="${service.nomService}"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="">Sigle Service <span
                                class="text-danger">*</span></label>
                        <input id="sigleService" class="form-control" type="text" name="sigleService" th:value="${service.sigleService}">
                        <span class="text-danger" th:errors="${service.sigleService}"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="">Contact Service <span
                                class="text-danger">*</span></label>
                        <input id="contactService" class="form-control" type="text" name="contactService" th:value="${service.contactService}">
                        <span class="text-danger" th:errors="${service.contactService}"></span>
                    </div>
                </div>
                <div class="row col-sm-12 mt-4 ms-1 ml-1">
                        <label class="">Description Service <span
                                class="text-danger">*</span></label>
                    <textarea cols="3" id="descService" class="form-control" type="text" name="descService" th:value="${service.descService}">
                    </textarea>
                    <span class="text-danger" th:errors="${service.descService}"></span>
                </div>
                &nbsp;
            </div>
        </div>
            <!-- CHEF DE SERVICE -->
        <div class="card-body">
            <div class="row card">
                    <!-- CHEF DE SERVICE -->
                <div class="card-header">
                        <small class='text-cente'>
                            Chef de Service
                        </small>
                </div>
                    <div class="row col-sm-12 mt-4 ms-1 ml-1">
                        <div class="form-group col-sm-6">
                            <label class="">Nom Chef de Service <span
                                    class="text-danger">*</span></label>
                            <input id="nomChefService" class="form-control" type="text" name="nomChefService" th:value="${service.nomChefService}">
                            <span class="text-danger" th:errors="${service.nomChefService}"></span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">Grade Chef Service <span
                                    class="text-danger">*</span></label>
                            <input id="gradeChefService" class="form-control" type="text" name="gradeChefService" th:value="${service.gradeChefService}">
                            <span class="text-danger" th:errors="${service.gradeChefService}"></span>
                        </div>
                    </div>
                    <div class="row col-sm-12 mt-4 ms-1 ml-1">
                        <label class="">Fonction Chef Service <span
                                class="text-danger">*</span></label>
                        <textarea cols="3" id="fonctionChefService" class="form-control" type="text" name="fonctionChefService" th:value="${service.fonctionChefService}">
                    </textarea>
                        <span class="text-danger" th:errors="${service.fonctionChefService}"></span>
                    </div>
                    &nbsp;
                </div>
            </div>
            <!-- VALIDATION -->
            <div class="card-body">
                <div class="row card">
                    <div class="row col-sm-12 mt-4 ms-1 ml-1">
                        <div class="form-group col-sm-6">
                            <button type="submit"
                                    class="btn btn-outline-warning col-sm-12">
                                <i class="bi bi-cancel ms-2"></i>
                                Annuler
                            </button>
                        </div>
                        <div class="form-group col-sm-6">
                            <button type="submit"
                                    class="btn btn-outline-success col-sm-12">
                                <i class="bi bi-save ms-2"></i>
                                Enregistrer
                            </button>
                        </div>
                    </div>
                    &nbsp;
                </div>
            </div>
<!--            <div class="row footer col-sm-12 mt-5 ms-1">-->
<!--                <div class="form-group col-sm-12 text-right">-->
<!--                    <button type="submit"-->
<!--                            class="btn btn-outline-success col-sm-12">-->
<!--                        <i class="bi bi-save ms-2"></i>-->
<!--                        Enregistrer-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label for="nomService">Nom Service</label>-->
<!--                <input id="nomService" class="form-control" type="text" name="nomService" th:value="${service.nomService}">-->
<!--                <span class="text-danger" th:errors="${service.nomService}"></span>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label for="nom">Sigle Service</label>-->
<!--                <input id="nom" class="form-control" type="text" name="sigleService" th:value="${service.sigleService}">-->
<!--                <span class="text-danger" th:errors="${service.sigleService}"></span>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <label class="form-label">Description</label>-->
<!--                    <input id="descService" class="form-control" type="text" name="descService" th:value="${service.descService}">-->
<!--                    <span class="text-danger" th:errors="${service.descService}"></span>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <label class="form-label">Nom</label>-->
<!--                    <input id="contactService" class="form-control" type="text" name="contactService" th:value="${service.contactService}">-->
<!--                    <span class="text-danger" th:errors="${service.contactService}"></span>-->
<!--                </div>-->
<!--            </div>-->

<!--            <button type="submit" class="btn-outline-primary">Save</button>-->
        </form>
        </div>
    </div>

</body>
</html>