<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1" class="mt-5">
<head>
    <meta charset="UTF-8">
    <title>LISTE DEMANDES</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="font-family: 'Times New Roman'">
<div layout:fragment="content1">

    <div class="container col-sm-12 mt-3">
        <div class="page-header mt-3">
            <div class="row col-sm-12">
                <div class="form-group col-sm-10">
                    <h3 class="card-title">
                        <span class="badge bg-secondary">Liste Permissions </span>
                    </h3>
                </div>
            </div>
            <!--  -->
            <div class="row mt-2">
                <div class="col-sm-12">
                    <div class="card card-table">

                        <form method="get" th:action="@{/permissions}">
                            <div class="card-body">
                                <div class="card">
                                    <div class="row col-sm-12 mt-3 ms-1">
                                        <div class="form-group col-sm-8">
                                            <input class="form-control" type="text" name="keyword" th:value="${keyword}" placeholder="rechercher par mot clé ...">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <button type="submit"
                                                    class="btn btn-outline-success col-sm-12">
                                                <i class="bi bi-save ms-2"></i>
                                                Rechercher
                                            </button>
                                        </div>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </form>
                        <!--                        <hr/>-->
                        <div class="card-body booking_card">
                            <div class="table-responsive">
                                <table id="example"
                                       class="table table-striped table-bordered text-center datatable">
                                    <thead>
                                    <tr class="text-dark" style="background-color: darkgray;">
                                        <th style="background-color: antiquewhite;">MATRICULE</th>
                                        <th style="background-color: antiquewhite;" width="25%">PRENOM & NOM</th>
                                        <th style="background-color: antiquewhite;">SERVICE</th>
                                        <th style="background-color: antiquewhite;">DUREE</th>
                                        <th style="background-color: antiquewhite;" width="25%">PERIODE</th>
                                        <th style="background-color: antiquewhite;" width="20%">STATUT</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="demande : ${demandes}" th:if="${demande.statut == 1}">
                                        <td th:text="${demande.personnel.matricule}"></td>
                                        <td>
                                            <small class="text-muted" th:text="${demande.personnel.grade}"></small><br/>
                                            <span th:text="|${demande.personnel.prenom} ${demande.personnel.nom}|"></span>
                                        </td>
                                        <td th:text="${demande.service.nomService}"></td>
                                        <td>
                                            <small class="badge bg-secondary text-center">
                                                <span th:text="${demande.dureePermission}">
                                                </span>
                                                <span> heures</span>
                                            </small>
                                            &nbsp
                                        </td>
                                        <td>
                                            <small>du</small>
                                            <small class="text-muted badge bg-info" th:text="${#dates.format(demande.dateDebut, 'dd-MM-Y')}"></small>
                                            <br/>
                                            <small>au</small>
                                            <small class="text-muted badge bg-warning" th:text="${#dates.format(demande.dateFin, 'dd-MM-Y')}"></small>
                                        </td>
                                        <td class="text-center">
                                            <strong class="text-success">
                                                Permission deja acceptée
                                            </strong>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>

</div>

</body>
</html>
