<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>INSCRIPTION</title>
	<link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
	<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous">
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		  crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="/css/style.css">

</head>
<body style="font-family: 'Times New Roman'; margin-top: auto" class="mt-5">
<!--<div layout:fragment="content2" class="mt-5">-->
<section class="mt-5">

	<div class="card container col-md-8 offset-2 mt-5">
		<form th:action="@{/register}" th:object="${user}" method="post">
			<div class="card-header">
				<h3 class='text-center'>
					<i class="fas fa-sign-in-alt mr-2">
					</i>Incription Utilisateur
				</h3>
			</div>
			<div class="card-body">
				<div class="row card">
					<!-- SERVICE -->
					<div class="card-header">
						<small class='text-cente'>
							Identités
						</small>
					</div>
					<div class="row col-sm-12 mt-4 ms-1 ml-1">
						<div class="form-group col-sm-4">
							<label class="">Prénom <span
									class="text-danger">*</span></label>
							<input type="text" id="prenom" th:field="*{prenom}" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label class="">Nom <span
									class="text-danger">*</span></label>
							<input type="text" id="nom" th:field="*{nom}" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label class="">Contact <span
									class="text-danger">*</span></label>
							<input type="text" id="contact" th:field="*{contact}" class="form-control">
						</div>
					</div>
					&nbsp
				</div>
			</div>
			<!-- SERVICE ET PROFILE -->
			<div class="card-body">
				<div class="row card">
					<!-- CHEF DE SERVICE -->
					<div class="card-header">
						<small class='text-cente'>
							Service et Profile
						</small>
					</div>
					<div class="row col-sm-12 mt-4 ms-1 ml-1">
						<div class="form-group col-sm-6">
							<label class="">Service <span
									class="text-danger">*</span></label>
							<select class="form-control" id="service" th:field="*{service.id}">
								<option th:each="service : ${services}" th:value="${service.id}" th:text="${service.nomService}"
										class="form-control"></option>
							</select>
						</div>
						<div class="form-group col-sm-6">
							<label class="">Role <span
									class="text-danger">*</span></label>
							<select class="form-control" id="role" th:field="*{role.id}">
								<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.nomRole}"
										class="form-control"></option>
							</select>
						</div>
					</div>
					&nbsp
				</div>
			</div>
			<!--USERNAME PASSWORD -->
			<div class="card-body">
				<div class="row card">
					<!-- CHEF DE SERVICE -->
					<div class="card-header">
						<small class='text-cente'>
							Username et Password
						</small>
					</div>
					<div class="row col-sm-12 mt-4 ms-1 ml-1">
						<div class="form-group col-sm-6">
							<label class="">Nom utilisateur <span
									class="text-danger">*</span></label>
							<input class="form-control" type="text" id="username" th:field="*{username}">
						</div>
						<div class="form-group col-sm-6">
							<label class="">Mot de Passe <span
									class="text-danger">*</span></label>
							<input class="form-control" type="password" id="password" th:field="*{password}">
						</div>
					</div>
					&nbsp
				</div>
			</div>

			<!-- VALIDATION -->
			<div class="card-body">
				<div class="row card">
					<div class="row col-sm-12 mt-4 ms-1 ml-1">
						<div class="form-group col-sm-6">
							<button type="submit"
									class="btn btn-outline-warning col-sm-12">
								<i class="fa-solid fa-xmark ms-2"></i>
								Annuler
							</button>
						</div>
						<div class="form-group col-sm-6">
							<button type="submit"
									class="btn btn-outline-success col-sm-12">
								<i class="fa-solid fa-floppy-disk ms-2"></i>
								Enregistrer
							</button>
						</div>
					</div>
					&nbsp;
				</div>
			</div>
		</form>
	</div>

</section>
</body>
</html>
