<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1" class="mt-5">
<head>
    <meta charset="UTF-8">
    <title>PERMISSIONS-ACCORDEES</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="font-family: 'Times New Roman'">
<div layout:fragment="content1">

    <div class="container col-sm-12 mt-3">
        <div class="page-header mt-3">

            <!--DEBUT STATS-->
            <div class="card-body">
                <div class="row card">
                    <!-- SERVICE -->
                    <div class="card-header">
                        <strong class='text-cente'>
                            Statistiques
                        </strong>
                    </div>

<!--                    <h2>Cette semaine</h2>-->
<!--                    <ul>-->
<!--                        <li th:each="count : ${countForWeek}">-->
<!--                            Département <span th:text="${count[0]}"></span> : <span th:text="${count[1]}"></span> enregistrements-->
<!--                        </li>-->
<!--                    </ul>-->

<!--                    <h2>Ce mois-ci</h2>-->
<!--                    <ul>-->
<!--                        <li th:each="count : ${countForMonth}">-->
<!--                            Département <span th:text="${count[0]}"></span> : <span th:text="${count[1]}"></span> enregistrements-->
<!--                        </li>-->
<!--                    </ul>-->

<!--                    <h2>Cette année</h2>-->
<!--                    <ul>-->
<!--                        <li th:each="count : ${countForYear}">-->
<!--                            Département <span th:text="${count[0]}"></span> : <span th:text="${count[1]}"></span> enregistrements-->
<!--                        </li>-->
<!--                    </ul>-->

<!--                    <h2>Global</h2>-->
<!--                    <ul>-->
<!--                        <li th:each="count : ${countOverall}">-->
<!--                            Département <span th:text="${count[0]}"></span> : <span th:text="${count[1]}"></span> enregistrements-->
<!--                        </li>-->
<!--                    </ul>-->

                    <div class="row col-sm-12 mt-1 ms-1 ml-1">
                        <div class="form-group col-sm-3">
<!--                            <div class="card-body text-center" style="background: lightyellow">-->
                            <div class="card-body text-center">
                                <div class="row card">
                                    <div class="card-header">
                                        <strong>
                                            Permission de la semaine
                                        </strong>
                                    </div>
<!--                                    <div class="card-body" th:each="count : ${countForWeek}">-->
<!--                                        <span th:text="${count[0]}"></span> : <span th:text="${count[1]}"></span>-->
<!--                                    </div>-->
                                    <div class="card-body">
                                        <table class="table table-striped table-bordered text-center">
                                            <tr>
                                                <th>Service</th><th>Nbre</th>
                                            </tr>
                                            <tr th:each="count : ${countForWeek}" style="font-size: xx-small">
                                                <td th:text="${count[0]}"></td>
                                                <td class="badge bg-secondary text-warning" th:text="${count[1]}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-3">
<!--                            <div class="card-body text-center" style="background: #dfc2c4">-->
                            <div class="card-body text-center">
                                <div class="row card">
                                    <div class="card-header">
                                        <strong class='text-cente'>
                                            Permission du mois
                                        </strong>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped table-bordered text-center">
                                            <tr>
                                                <th>Service</th><th>Nbre</th>
                                            </tr>
                                            <tr th:each="count : ${countForMonth}" style="font-size: xx-small">
                                                <td th:text="${count[0]}"></td>
                                                <td class="badge bg-secondary text-warning" th:text="${count[1]}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-3">
<!--                            <div class="card-body text-center" style="background: #badbcc">-->
                            <div class="card-body text-center">
                                <div class="row card">
                                    <div class="card-header">
                                        <strong class='text-cente'>
                                            Permissions annuelle
                                        </strong>
                                    </div>
                                    <div class="card-body">
<!--                                        <span class="badge bg-success" th:text="${nbreDemandeAcceptees}"></span>-->
                                        <table class="table table-striped table-bordered text-center">
                                            <tr>
                                                <th>Service</th><th>Nbre</th>
                                            </tr>
                                            <tr th:each="count : ${countForYear}" style="font-size: xx-small">
                                                <td th:text="${count[0]}"></td>
                                                <td class="badge bg-secondary text-warning" th:text="${count[1]}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-3">
<!--                            <div class="card-body text-center" style="background: darksalmon">-->
                            <div class="card-body text-center">
                                <div class="row card">
                                    <div class="card-header">
                                        <strong class='text-cente'>
                                            Totale Permissions
                                        </strong>
                                    </div>
                                    <div class="card-body">
<!--                                        <span class="badge bg-danger" th:text="${nbreDemandeRejetees}"></span>-->
                                        <table class="table table-striped table-bordered text-center">
                                            <tr>
                                                <th>Service</th><th>Nbre</th>
                                            </tr>
                                            <tr th:each="count : ${countOverall}" style="font-size: xx-small">
                                                <td th:text="${count[0]}"></td>
                                                <td class="badge bg-secondary text-warning" th:text="${count[1]}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1"></div>
                    <!--                    &nbsp;-->
                </div>
            </div>
            <!--FIN STATS-->

            <div class="row col-sm-12 mt-2">
                <div class="form-group col-sm-10">
                    <h3 class="card-title">
                        <span class="badge bg-secondary">Permissions accordées </span>
                    </h3>
                </div>
<!--                <div class="form-group col-sm-2 text-end">-->
<!--                    <a th:href="@{/personnels/create}" class="text-primary ms-2">-->
<!--                        <i class="bi bi-plus"></i>-->
<!--                        Ajouter</a>-->
<!--                </div>-->
            </div>
            <!--  -->
            <div class="row mt-2">
                <div class="col-sm-12">
                    <div class="card card-table">

                        <form method="get" th:action="@{/personnels}">
                            <div class="card-body">
                                <div class="card">
                                    <div class="row col-sm-12 mt-3 ms-1">
                                        <div class="form-group col-sm-8">
                                            <input class="form-control" type="text" name="keyword" th:value="${keyword}" placeholder="rechercher par mot clé ...">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <button type="submit"
                                                    class="btn btn-outline-success col-sm-12">
                                                <i class="bi bi-save ms-2"></i>
                                                Rechercher
                                            </button>
                                        </div>
                                    </div>
                                    &nbsp;
                                </div>
                            </div>
                        </form>
                        <!--                        <hr/>-->
                        <div class="card-body booking_card">
                            <div class="table-responsive">
                                <table id="example"
                                       class="table table-striped table-bordered text-center datatable">
                                    <thead>
                                    <tr class="text-dark" style="background-color: darkgray;">
                                        <!--                                        <th style="background-color: antiquewhite;">UTILISATEUR</th>-->
                                        <th style="background-color: antiquewhite;">MATRICULE</th>
                                        <th style="background-color: antiquewhite;">GRADE PRENOM & NOM</th>
                                        <th style="background-color: antiquewhite;">SERVICE</th>
                                        <th style="background-color: antiquewhite;">DUREE</th>
                                        <th style="background-color: antiquewhite;">PERIODE</th>
                                        <th style="background-color: antiquewhite;">ACTION</th>
                                    </tr>
                                    </thead>
                                    <tbody>

<!--                                    <span th:text="${permissions.user_id}">-->
<!--                                                </span>-->
<!--                                    <span th:text="${dataService}">-->
<!--                                                </span>-->
                                    <p th:if="${permissions.isEmpty()}" class="text-danger">Aucune données à afficher</p>
<!--                                    <tr th:each="p:${permissions}" th:if="${p.statut == 1}">-->

                                        <tr th:each="p:${permissions}">
<!--                                            <span th:text="${p.service.id}"></span>-->
                                            <td>
                                                <strong class="text-muted" th:text="${p.demande.personnel.matricule}"></strong>
                                            </td>
                                            <td>
                                                <small class="text-muted" th:text="${p.demande.personnel.grade}"></small><br/>
                                                <span th:text="|${p.demande.personnel.prenom} ${p.demande.personnel.nom}|"></span>
                                            </td>
                                            <td  th:text="${p.demande.personnel.service.nomService}"></td>
                                            <td>
    <!--                                            <span class="text-muted" th:text="${a.demande.objet}"></span><br/>-->
                                            <small class="badge bg-secondary text-center">
                                                <span th:text="${p.demande.dureePermission}">
                                                </span>
                                                <span> heures</span>
                                            </small>
                                        </td>
                                        <td>
                                            <small class="text-muted ">du</small>
                                            <small class="text-warning" th:text="${#dates.format(p.demande.dateDebut, 'dd-MM-Y')}"></small>
                                            <br/>
                                            <small class="text-muted">au</small>
                                            <small class="text-warning" th:text="${#dates.format(p.demande.dateFin, 'dd-MM-Y')}"></small>
                                        </td>
                                        <td>
                                            <strong class="badge bg-secondary text-info">
                                                Permission accordée
                                            </strong><br/>
<!--                                            <small class="text-muted">par</small><br/>-->
<!--                                            <small class="text-muted" th:text="|${p.user.prenom} ${p.user.nom}|"></small><br/>-->
                                            <form th:action="@{/imprimerPermission}" method="post">
                                                <input type="hidden" name="demandeId" th:value="${p.demande.id}" />
                                                <button class="btn btn-sm btn-outline-primary col-sm-12" type="submit" th:if="${userId != 1}">
                                                    <i class="fa-solid fa-print"></i> Imprimer
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>

</div>

</body>
</html>