<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" class="mt-5">
<head>
    <meta charset="UTF-8">
    <title>PERMISSIONS-ACCORDEES</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

</head>
<body style="font-family: 'Times New Roman'">
<div layout:fragment="content1">

    <div class="container col-sm-12 mt-3">
        <div class="page-header mt-3">

            <!--DEBUT STATS DEMANDE-->
            <div class="card-body">
                <div class="row card">
                    <!-- SERVICE -->
                    <div class="card-header">
                        <strong class='text-cente'>
                            Gestionnaire des Permissions
                        </strong>
                    </div>

                    <div class="row col-sm-12 mt-1 ms-1 ml-1">
                        <div class="form-group col-sm-12">
                            <div class="card-body text-center">
                                <div class="row card">
                                    <div class="card-header">
                                        <strong>
                                            Statistiques demandes
                                        </strong>
                                    </div>
                                    <div class="row col-sm-12 mt-1 ms-1 ml-1">
                                        <div class="form-group col-sm-3">
                                            <div class="card-body text-center">
                                                <div class="row card">
                                                    <div class="card-header">
                                                        <strong>
                                                            Demande de la semaine
                                                        </strong>
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-striped table-bordered text-center">
                                                            <tr>
                                                                <th>Service</th><th>Nbre</th>
                                                            </tr>
                                                            <tr th:each="count : ${countDemandeForWeek}" style="font-size: xx-small">
                                                                <td th:text="${count[0]}"></td>
                                                                <td class="badge bg-secondary text-warning" th:text="${count[1]}"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-3">
                                            <div class="card-body text-center">
                                                <div class="row card">
                                                    <div class="card-header">
                                                        <strong class='text-cente'>
                                                            Demande du mois
                                                        </strong>
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-striped table-bordered text-center">
                                                            <tr>
                                                                <th>Service</th><th>Nbre</th>
                                                            </tr>
                                                            <tr th:each="count : ${countDemandeForMonth}" style="font-size: xx-small">
                                                                <td th:text="${count[0]}"></td>
                                                                <td class="badge bg-secondary text-warning" th:text="${count[1]}"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-3">
                                            <div class="card-body text-center">
                                                <div class="row card">
                                                    <div class="card-header">
                                                        <strong class='text-cente'>
                                                            Demandes annuelle
                                                        </strong>
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-striped table-bordered text-center">
                                                            <tr>
                                                                <th>Service</th><th>Nbre</th>
                                                            </tr>
                                                            <tr th:each="count : ${countDemandeForYear}" style="font-size: xx-small">
                                                                <td th:text="${count[0]}"></td>
                                                                <td class="badge bg-secondary text-warning" th:text="${count[1]}"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-3">
                                            <div class="card-body text-center">
                                                <div class="row card">
                                                    <div class="card-header">
                                                        <strong class='text-cente'>
                                                            Totale demandes
                                                        </strong>
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-striped table-bordered text-center">
                                                            <tr>
                                                                <th>Service</th><th>Nbre</th>
                                                            </tr>
                                                            <tr th:each="count : ${countDemandeOverall}" style="font-size: xx-small">
                                                                <td th:text="${count[0]}"></td>
                                                                <td class="badge bg-secondary text-warning" th:text="${count[1]}"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row col-sm-12 mt-1 ms-1 ml-1">
                        <div class="form-group col-sm-12">
                            <div class="card-body text-center">
                                <div class="row card">
                                    <div class="card-header">
                                        <strong>
                                            Statistiques Permissions
                                        </strong>
                                    </div>
                                    <div class="row col-sm-12 mt-1 ms-1 ml-1">
                                        <div class="form-group col-sm-3">
                                            <div class="card-body text-center">
                                                <div class="row card">
                                                    <div class="card-header">
                                                        <strong>
                                                            Permission de la semaine
                                                        </strong>
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-striped table-bordered text-center">
                                                            <tr>
                                                                <th>Service</th><th>Nbre</th>
                                                            </tr>
                                                            <tr th:each="count : ${countForWeek}" style="font-size: xx-small">
                                                                <td th:text="${count[0]}"></td>
                                                                <td class="badge bg-secondary text-warning" th:text="${count[1]}"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-3">
                                            <div class="card-body text-center">
                                                <div class="row card">
                                                    <div class="card-header">
                                                        <strong class='text-cente'>
                                                            Permission du mois
                                                        </strong>
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-striped table-bordered text-center">
                                                            <tr>
                                                                <th>Service</th><th>Nbre</th>
                                                            </tr>
                                                            <tr th:each="count : ${countForMonth}" style="font-size: xx-small">
                                                                <td th:text="${count[0]}"></td>
                                                                <td class="badge bg-secondary text-warning" th:text="${count[1]}"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-3">
                                            <div class="card-body text-center">
                                                <div class="row card">
                                                    <div class="card-header">
                                                        <strong class='text-cente'>
                                                            Permission annuelle
                                                        </strong>
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-striped table-bordered text-center">
                                                            <tr>
                                                                <th>Service</th><th>Nbre</th>
                                                            </tr>
                                                            <tr th:each="count : ${countForYear}" style="font-size: xx-small">
                                                                <td th:text="${count[0]}"></td>
                                                                <td class="badge bg-secondary text-warning" th:text="${count[1]}"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-3">
                                            <div class="card-body text-center">
                                                <div class="row card">
                                                    <div class="card-header">
                                                        <strong class='text-cente'>
                                                            Totale Permission
                                                        </strong>
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-striped table-bordered text-center">
                                                            <tr>
                                                                <th>Service</th><th>Nbre</th>
                                                            </tr>
                                                            <tr th:each="count : ${countOverall}" style="font-size: xx-small">
                                                                <td th:text="${count[0]}"></td>
                                                                <td class="badge bg-secondary text-warning" th:text="${count[1]}"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
            </div>
        </div>
    </div>

</div>

</body>
</html>